 <div class="container">
  <h1 class="text-center">My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
    <li>
    <%= link_to toggle_task_path(task), data: { turbo_method: :patch } do %>
      <% if task.completed  %>
        <i class="fa-solid fa-square-check"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to task_path(task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure"} do %>
      <span><i class="fa-solid fa-trash-can"></i></span>
    <% end %>
    </li>
    <% end %>
  </ul>

  <%= link_to create_task_path do %>
    <i class="fa-solid fa-circle-plus">Add</i>
  <% end %>
</div>
